.Title1{
    
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    margin-top: 8rem;
    
}

.Skip{
    position: absolute;
    color: #FFD700;
    top:2rem;
    right:2rem;
    text-decoration:none;
}
.RO{
    position: absolute;
    color: #FFD700;
    top:2rem;
    right:1rem;
}