.Counter{
    display: flex;
    align-items: center;
}

.Sub,
.Add{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #FCBF49;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    font-size: 0.7rem;
    padding: 0;
}

.Sub{
    background-color: white;
    border: 1px solid black;
}

.count{
    font-size: 15px;
    margin: 0 5px;
}
