.all{
    position: fixed;
    bottom: 0;
    background-color: white;
   
}
.footer{
    display: flex;
    
}
.main{
flex: 1;

color: #FFD700;

}
.Ho{
    margin-top: 0.5rem;
    font-size: 2.2rem;
    margin-left: 2.13rem;
    margin-right: 2.13rem;
    height:4rem;
}
.member{
 flex: 2;

 color: #FFD700;
}
.order{
   flex: 3;

   color: #FFD700;
}
.mine{
    flex: 4;
    color: #FFD700;
}
