.Food{
    /*开启弹性盒*/
    display: flex;
    /*设置辅轴对齐方式*/
    align-items: center;
    /*设置外边距*/
    padding: 1rem;
    border-bottom: 1px #f2f2f2 solid;
    height:10rem;

}

.ImgBox{
    width:7rem;
}


img{
    width: 90%;
}

.DescBox{
    flex: auto;
    margin-left:1rem;
}

.Title{
    font-weight: normal;
    font-size: 1.35rem;
    padding:1rem;
    margin: 0;
}

.Desc{
    margin: 0;
    color: #bbb;
    font-size: 0.9rem;
    padding-right: 2rem;
}

.PriceWrap{
    margin-top:0.5rem;
    padding-right:1rem;
    display: flex;
    justify-content: space-between;
}

.Price{
    font-weight: bold;
    font-size: 1.3rem;
}

.Price::before{
    content: '€';
    font-size: 12px;
}
.Kcal{
    font-weight: bold;
    font-size: 1.3rem;
    margin-left: 6rem;
    position: fixed;
}
.Kcal::after{
    content: 'Kcal';
    font-size: 12px;
}