
.Food{
  
    display: flex;
  
    align-items: center;
 
    padding: 1rem;
    border-bottom: 1px #f2f2f2 solid;
    margin-top: 0.5rem;
    text-decoration: none;
}
.Link{
    text-decoration: none;
}
.ImgBox{
    width:7rem;
}


img{
    width: 98%;
}

.DescBox{
    flex: auto;
}

.Title{
    font-weight: normal;
    font-size: 1.35rem;
    padding:1rem;
    margin: 0;
    color: black;
}

.Desc{
    margin: 0;
    color: #bbb;
    font-size: 0.9rem;
    padding-right: 2rem;
    text-decoration: none;
    color: black;
}

.PriceWrap{
    margin-top:0.5rem;
    padding-right:1rem;
    display: flex;
    justify-content: space-between;
    color: black;
}
.Average_cost{
    margin:0%;
    color: black;
}

.Price{
    font-weight: bold;
    /* font-size: 1.3rem; */
    color: black;
}

.Price::before{
    content: '€';
    font-size: 12px;
}
.Deliver_time{
    margin:0%;
    color: black;
}
